.square {
    margin: 0;
    border: 1px solid black;
    height: 20px;
    width: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 352px;
    width: 352px;
}

.pink {
    background-color: pink;
}